@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-gray-300;
  }
}

.markdown>* {
  all: revert;
}

#post-content{
  margin-top: 4.5rem;
}

.margin-top-content {
  margin-top: 6rem;
}